{% extends "home/base.html" %}
{% block content %} 

	<!-- <h1>Fill Up this form to apply for the job.</h1><hr>
	  <form method="post" action="/applyJob_detail/">
      {% csrf_token %}
      First Name<br><input type="text" name="first_name" placeholder="Enter your First name"><br><br>
      Last Name<br><input type="text" name="last_name" placeholder="Enter your Last name"><br><br>
      Email<br><input type="email" name="email" placeholder="Enter your Email address"><br><br>
      Age<br><input type="text" name="age" placeholder="Enter your Age"><br><br>
      Phone Number<br><input type="text" name="PhoneNo" placeholder="Enter Your Phone Number"><br><br>
      Address<br><input type="text" name="Address" placeholder="Enter Your Address"><br><br>
      Work Experience<br><input type="text" name="workexperience" placeholder="Enter Your Work Experience"><br><br>
	Extra Skills<br><input type="text" name="otherskills" placeholder="Enter your extra skills"><br><br>
      Hobby <br><input type="text" name="hobby" placeholder="Enter Your Hobby"><br><br>
      
      <br><input type="submit">
  </form>
<div>
      {% for message in messages %}
      <h3>{{message}}</h3>
      {% endfor %}
</div> -->
<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeXlGOfe_N4f-cA6HFnZ7GFjEHdyp8YxH7TOlIVINSY4Ampag/viewform?embedded=true" width="1000" height="1036" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe> 
{% endblock %} 